header h1 {
  margin: 0;
  font-size: 36px;
  letter-spacing: 1px;
}

.container {
  padding: 40px;
  max-width: 1200px;
  margin: 50px auto;
}
/* Introduction Section */
.intro {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

.intro strong {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  color: #ff4081;
}
/* Grid layout for service boxes */
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}
.service-box {
  background: rgb(247, 247, 247);
  /* border-left: 5px solid #ff4081; */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease;
}
.service-box:hover {
  /* transform: translateY(-5px); */
}
.service-box i {
  font-size: 48px;
  margin-bottom: 10px;
  color: #6fc2fa;
  display: block;
  text-align: center;
}
.service-box h3 {
  font-size: 22px;
  margin: 10px 0;
  color: #07999e;
}
.service-box p {
  font-size: 16px;
  line-height: 1.6;
}
/* Join Us Section */
.join-us {
  margin: 40px 0;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}
.join-us strong {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  color: #ff4081;
}
/* Contact Form */
.contact-form {
  max-width: 600px;
  margin: 0 auto 40px;
  display: flex;
  flex-direction: column;
}
.contact-form label {
  margin: 10px 0 5px;
  font-size: 16px;
}
.contact-form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #444;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #1e1e1e;
  color: #e0e0e0;
}
.contact-form button {
  padding: 10px;
  font-size: 18px;
  background: #686868;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}
.contact-form button:hover {
  background: #a10059;
}
